.abu {
  background: #f8f9fa;
}

#indonesia {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  padding: 100px 0;
  justify-content: center;
}

#indonesia .wrapper h2 {
  padding-top: 72px;
  color: var(--Primary, #06d6a0);
  text-align: center;
  font-size: 61px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
}

#indonesia .wrapper .indonesia-name {
  color: var(--Secondary, #118ab2);
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 auto;
}

#indonesia .wrapper .indonesia-box {
  padding-top: 50px;
  display: flex;
  gap: 20px;
}

#indonesia .wrapper .indonesia-box .box {
  width: 354px;
  height: 290px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 40px;
  cursor: pointer;
  transition: 0.5s;
}
#indonesia .wrapper .indonesia-box .box:hover {
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
}

#indonesia .wrapper .indonesia-box .box p {
  color: var(--Black-Color, #073b4c);
  text-align: center;
  font-size: 39px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

#indonesia .wrapper .indonesia-box .box h3 {
  text-align: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
}

#indonesia .wrapper .indonesia-box .box .hijau {
  color: var(--Primary, #06d6a0);
}

#indonesia .wrapper .indonesia-box .box .biru {
  color: var(--Secondary, #118ab2);
}

#indonesia .wrapper .indonesia-box .box .merah {
  color: var(--Danger, #ef476f);
}

@media (max-width: 720px) {
  #indonesia .wrapper .indonesia-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #indonesia {
    padding: 0;
  }
  #indonesia .wrapper h2 {
    padding-top: 100px;
  }
}

.regional {
  padding-top: 50px;
  text-align: center;
}

.region-box {
  display: flex;
  gap: 20px;
  padding-bottom: 50px;
}

.region-box .box {
  width: 354px;
  height: 290px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 40px;
}

.region-box .box p {
  color: var(--Black-Color, #073b4c);
  text-align: center;
  font-size: 39px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.region-box .box h3 {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 auto;
}

.region-box .box .hijau {
  color: var(--Primary, #06d6a0);
}

.region-box .box .biru {
  color: var(--Secondary, #118ab2);
}

.region-box .box .merah {
  color: var(--Danger, #ef476f);
}

@media (max-width: 720px) {
  .region-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
